// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #FF6D00
$secondary = #FF9100
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$primary-dark = #000000
$primary-light = #9E9E9E
$primary-shade = #212121

$body-color = #fff

//http://materialmixer.co/#212121/FF6D00

// Override application

$toolbar-background = $primary-dark

$item-highlight-color = alpha(#9E9E9E, 0.3)