@import 'themes/common.variables'
// app global css
.q-layout-page
    background-color: $dark-bg

.q-list-highlight > .q-item:hover, .q-item-highlight:hover, .q-list-link > .q-item:hover, .q-item-link:hover
    background: rgba(189,189,189,0.2);


.dark-bg
    background-color:$dark
    color: $light